header {
    @include sectionCommonStyles;

    .header__description {
        font-family: $mainFont;
        color: $headerSecondlyColor;
    }

    .header__title {
        color: $headerMainColor;
    }
}