header {
    @include sectionCommonStyles(column);

    .header__description {
        font-family: $mainFont;
        color: $headerSecondlyColor;
    }

    .header__title {
        color: $headerMainColor;
    }

    .line-horizontak
}