@mixin sectionCommonStyles($flexDirection) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    // text-transform: uppercase;
}

@mixin lineHorizontal($lineWidth) {
    background-color: $headerMainColor;
    border: none;
    height: 1px;
    width: $lineWidth;
}