.character {
    @include sectionCommonStyles(row);

    color: $sectionMainColor;
    font-weight: 400;

    .character__photo,
    .character__info {
        width: 415px;
        height: 400px;
    }

    .character__photo img {
        border: 1px solid $headerMainColor;
    }

    .character__line {
        border-left: 1px solid $headerMainColor;
        height: 560px;
    }

    .character__info {

        .character__info_name {
            font-family: $secondlyFont;
            font-size: 36px;
            font-weight: 900;
            letter-spacing: 0.72px;
        }

        .character__line_hr {
            @include lineHorizontal(100px);
        }

        .character__info_position {
            font-family: $mainFont;
            font-size: 24px;
        }

        .character__info_networks {
            @include sectionCommonStyles(row);

            list-style: none;
        }

        a {
            text-decoration: none;
        }

        .fab {
            @include sectionCommonStyles(row);

            color: $listColor;
            border: 2px solid $listColor;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            margin-right: 5px;
            text-decoration: none;
        }

        .character__info_description {
            color: $sectionSecondlyColor;
            font-family: $mainFont;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
        }

        .character__info_button {
            border: 1px solid $headerMainColor;
            color: $sectionMainColor;
            font-family: $buttonFont;
            font-size: 14px;
            font-weight: 400;
            width: 120px;
            height: 24px;
            background-color: transparent;
            text-transform: uppercase;
        }
    }
}