// FONTS
$mainFont : 'Raleway';
$secondlyFont : 'Roboto - Black';
$buttonFont : 'Open Sans';

// COLORS
$headerMainColor : #ffcc00;
$headerSecondlyColor : #898f8f;
$sectionMainColor : #666666;
$sectionSecondlyColor : #333333;