@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500;600;700;900&family=Roboto&display=swap");
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
}

header .header__description {
  font-family: "Raleway";
  color: #898f8f;
  font-size: 18px;
  margin: 0;
}

header .header__title {
  font-family: "Roboto", serif;
  color: #ffcc00;
  font-size: 60px;
  font-weight: 900;
  margin: 0;
}

header .header__decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 40px auto;
}

header .header__decor .line-horizontal {
  background-color: #ffcc00;
  border: none;
  height: 1px;
  width: 210px;
}

header .header__decor img {
  size: 5rem;
}

.slider .characters__slider {
  position: relative;
}

.slider .slider__prev,
.slider .slider__next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #ffcc00;
  font-size: 40px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.slider .slider__next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 40px 5px;
  background-color: #ffcc00;
  border: 1px solid transparent;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.active,
.dot:hover {
  background-color: transparent;
  border: 1px solid #ffcc00;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.character {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #666666;
  font-weight: 400;
}

.character .character__photo,
.character .character__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 420px;
  height: 420px;
}

.character .character__photo img {
  margin: auto;
  border: 1px solid #ffcc00;
}

.character .character__photo {
  background-image: linear-gradient(#ffcc00 0, #ffcc00 100px, transparent 100px, transparent 320px, #ffcc00 320px, #ffcc00 420px), linear-gradient(90deg, #ffcc00 0, #ffcc00 100px, transparent 100px, transparent 320px, #ffcc00 320px, #ffcc00 420px), linear-gradient(#ffcc00 0, #ffcc00 100px, transparent 100px, transparent 320px, #ffcc00 320px, #ffcc00 420px), linear-gradient(90deg, #ffcc00 0px, #ffcc00 100px, transparent 100px, transparent 320px, #ffcc00 320px, #ffcc00 420px);
  background-size: 1px 420px, 420px 1px, 1px 420px, 420px 1px;
  background-position: 0 0, 0 0, 100% 100%, 100% 100%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
}

.character .character__line {
  border-left: 1px solid #ffcc00;
  height: 560px;
}

.character .character__info .character__info_name {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 0.72px;
  margin: 30px;
}

.character .character__info .character__line_hr {
  background-color: #ffcc00;
  border: none;
  height: 1px;
  width: 100px;
}

.character .character__info .character__info_position {
  font-family: "Raleway";
  font-size: 24px;
  margin: 30px;
}

.character .character__info .character__info_networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  list-style: none;
  margin: 0;
}

.character .character__info a {
  text-decoration: none;
}

.character .character__info ul {
  padding: 0;
}

.character .character__info .fab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #cccccc;
  border: 2px solid #cccccc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  text-decoration: none;
}

.character .character__info .fab:hover {
  color: #ffcc00;
  border: 2px solid #ffcc00;
}

.character .character__info .character__info_description {
  color: #333333;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 30px;
}

.character .character__info .border {
  background-image: linear-gradient(to left, #ffcc00 0, #ffcc00 10px, transparent 10px, transparent 15px, #ffcc00 15px, #ffcc00 35px, transparent 35px, transparent 40px, #ffcc00 40px, #ffcc00 50px);
  width: 50px;
  padding-top: 4px;
  margin-bottom: 25px;
}

.character .character__info .character__info_button {
  border: 1px solid #ffcc00;
  color: #666666;
  font-family: "Open Sans";
  font-size: 14px;
  width: 120px;
  height: 24px;
  background-color: transparent;
  text-transform: uppercase;
}

.character .character__info .character__info_button:hover {
  background-color: #ffcc00;
  -webkit-box-shadow: 0px 0px 5px 1px #666666;
          box-shadow: 0px 0px 5px 1px #666666;
}
/*# sourceMappingURL=style.css.map */